div{
    border: 2px dotted green;
}
#shoes{
    background-image: url(./Assets/h_img.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    height: 690px;
}
.logo{
    padding-top: 50px;
}
.mouse{
    padding-top: 30px;
}
.welcome{
    margin-top: 20px;
}
.welcome h1{
  font-size: 70px;
  font-weight: 400;
}
.welcome h2{
    font-size: 15px;
    font-weight: 400;
}
h1{
    font-weight: bold;
}
h2{
    font-size: x-small;
}
.about-us{
    text-align: center;
}
.services{
    text-align: center;
    background-image: url(./Assets/s_image.jpg);
    color: white;
}
#icons{
    display: flex;
   justify-content: space-around;
   text-align: center;
   padding: 100px;
}
#white h1{
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}
.content-overlay_1 {
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    display: none;
}
.content-overlay_2 {
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    display: none;
}
.content-overlay_3 {
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    display: none;
}
.content-overlay_4 {
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    display: none;
}
.content-overlay_5 {
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    display: none;
}